.App {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
}
.menu__logo {
  /* width:60px;
  height: 60px; */
}


.nav__ul1 {
  width: 100%;
  height: 60px;
  line-height: 40px;
  text-align: center;
  flex:1;
   color: #000
}
.nav__ul2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  flex:1;
   color: #000
}



.modal-container{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
}

/* .modal-content{
  position: fixed;
  top:50px;
  right:20px;
} */

.tab__box {
  /* background: orangered; */
}

.slider_mr div {
  margin: 0 10px;
}
.slider_mr {
  /* width: 100%;
   */
  height: 400px;
}

.box__slider {
  /* width: 200px; */
  height: 300px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}

.box__slider  >img {
  margin: 0 auto;
  padding: 15px 0;
  width: 150px;
  height: 200px;
}