.chart__spider {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    padding:10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;
}

.chart__column {
    /* width: 700px; */
    width: 100%;
    border: 1px solid #ccc;
    padding:10px 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;
}